/**/
/**/
/**/
/* Seções*/
/**/
/**/
/**/

.hero-section > img {
  width: 100%;
  height: 100%;
}

.desc-e-main {
  width: 100%;
}

.descricao {
  width: 40%;
}

.main-section img {
  width: 100%;
}

.p-15 {
  font-size: 15px;
}

.p-bold {
  font-weight: 700;
}

.links-section a {
  text-decoration: none;
  color: #33323d;
  transition-duration: 0.2s;
}

.links-section .proximo:hover {
  margin-right: -10px;
  opacity: 0.95;
}

.links-section .anterior:hover {
  margin-left: -10px;
  opacity: 0.95;
}

.links-section > img {
  width: 100%;
}

.links-section a span {
  opacity: 0.5;
}
